body {
  background-image: url("/static/src/images/bg1.svg");
  background-size: cover;
}

#canvas {
  background-image: url("https://static.vecteezy.com/ti/vecteur-libre/p3/191259-voir-le-vecteur-de-haut-niveau-de-golf-vectoriel.jpg");
  background-size: cover;
  background-position-y: 39%;
  /*border: 1px solid black;*/
  width: 90%;
  height: 90%;
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
}

.popup-window {
  position: absolute;
  height: 50%;
  width: 50%;
  padding: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Убедитесь, что значение z-index достаточно высокое */
  display: none;
  background-color: rgba(190, 255, 190, 0.9); /* Прозрачный фон */
  border-radius: 15px;
}

.float-container {
    /*border: 3px solid #fff;*/
    padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.float-child-1 {
  width: 65%;
  float: left;
  padding: 20px;
  /*margin-top: 10%;*/
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.float-child-2 {
  width: 35%;
  float: left;
  padding: 20px;
  /*margin-top: 10%;*/
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption-text {
  margin-top: 2%;
  text-align: center;
  font-size: 40px;
  color: #125634;
}

#popup-window-text {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  color: #125634;
}

.button {
  display: block;
  /*margin: 20px auto 20px;*/
  line-height: normal;
}

#close-button {
  background-color: #125634;
  position: relative;
  /*margin-bottom: 10%;*/
  /*margin-right: 50%;*/
  /*margin-left: 50%;*/
  color: #fff; /* Белый цвет текста */
  /*padding: 10px 20px;*/
  border: none;
  border-radius: 5px;
}

