body {
  /*background-image: url("/static/src/images/bg1.svg");*/
  /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1099%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1100)'%3e%3c/rect%3e%3cpath d='M774.703433498179 51.49372844325207L603.6681967731533 36.53008416633952 666.7403487202973 300.56476139233433z' fill='rgba(150%2c 224%2c 114%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M102.032%2c629.047C160.431%2c629.692%2c220.444%2c610.321%2c250.253%2c560.098C280.588%2c508.988%2c269.248%2c446.558%2c241.558%2c393.968C211.423%2c336.734%2c166.71%2c277.791%2c102.032%2c278.591C38.156%2c279.381%2c-2.503%2c340.498%2c-31.643%2c397.345C-57.685%2c448.147%2c-69.151%2c507.436%2c-40.623%2c556.885C-12.081%2c606.357%2c44.92%2c628.416%2c102.032%2c629.047' fill='rgba(150%2c 224%2c 114%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1693.002%2c684.666C1766.315%2c683.744%2c1820.11%2c623.334%2c1855.228%2c558.973C1888.588%2c497.834%2c1898.825%2c426.753%2c1867.738%2c364.428C1832.942%2c294.667%2c1770.959%2c233.487%2c1693.002%2c233.736C1615.354%2c233.984%2c1555.706%2c296.489%2c1520.187%2c365.537C1487.889%2c428.325%2c1489.932%2c501.054%2c1523.554%2c563.143C1559.028%2c628.652%2c1618.511%2c685.602%2c1693.002%2c684.666' fill='rgba(150%2c 224%2c 114%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M245.02%2c1098.77C329.279%2c1091.788%2c399.25%2c1041.26%2c442.773%2c968.775C487.864%2c893.677%2c507.896%2c803.738%2c469.418%2c725.046C426.103%2c636.461%2c343.625%2c565.154%2c245.02%2c564.344C145.282%2c563.525%2c65.234%2c635.643%2c14.144%2c721.305C-38.497%2c809.567%2c-72.634%2c919.371%2c-19.011%2c1007.04C33.094%2c1092.228%2c145.501%2c1107.016%2c245.02%2c1098.77' fill='rgba(150%2c 224%2c 114%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M585.2420726253604 446.5082430979628L286.1938134631874 325.68490360609616 165.37047397132073 624.7331627682692 464.41873313349373 745.5565022601359z' fill='rgba(150%2c 224%2c 114%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1794.076%2c529.529C1834.617%2c528.792%2c1872.694%2c506.381%2c1890.754%2c470.077C1907.23%2c436.957%2c1895.279%2c398.435%2c1874.521%2c367.816C1856.479%2c341.204%2c1826.21%2c328.527%2c1794.076%2c327.477C1759.593%2c326.351%2c1723.846%2c334.035%2c1703.983%2c362.245C1680.905%2c395.021%2c1672.106%2c438.413%2c1691.114%2c473.706C1710.955%2c510.546%2c1752.24%2c530.289%2c1794.076%2c529.529' fill='rgba(150%2c 224%2c 114%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1423.528569771493 976.4861078768112L1438.6321886361804 763.4126344028303 1269.399979199356 842.3269096697121z' fill='rgba(150%2c 224%2c 114%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M727.8768158393714 171.23540300988384L539.2261877713477 148.0720184784944 516.0628032399583 336.72264654651804 704.713431307982 359.8860310779075z' fill='rgba(150%2c 224%2c 114%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M894.7408931730992 1085.6052756601512L1146.8235253092012 1143.8031369555838 1205.0213866046338 891.7205048194817 952.9387544685318 833.522643524049z' fill='rgba(150%2c 224%2c 114%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1099'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1100'%3e%3cstop stop-color='rgba(193%2c 255%2c 155%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(193%2c 255%2c 155%2c 1)' offset='0.28'%3e%3c/stop%3e%3cstop stop-color='rgba(232%2c 255%2c 197%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");*/
  background-image: url("/static/src/images/main-bg-blur.png");
  /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(232%2c 255%2c 197%2c 1)'%3e%3c/rect%3e%3cpath d='M1483.4119325229822 402.24799796768656L1388.88288119215 256.68602376070777 1243.3209069851712 351.2150750915399 1337.8499583160033 496.7770492985187z' fill='rgba(166%2c 223%2c 101%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M79.38239565435036 582.3640634812764L221.72895504902328 489.92312694483536 129.28801851258228 347.57656755016245-13.058540882090654 440.0175040866035z' fill='rgba(166%2c 223%2c 101%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M654.631%2c529.059C752.473%2c525.297%2c824.729%2c448.728%2c873.119%2c363.607C920.808%2c279.72%2c947.773%2c179.613%2c901.389%2c94.997C853.494%2c7.625%2c754.218%2c-31.773%2c654.631%2c-34.966C548.181%2c-38.379%2c433.603%2c-13.112%2c378.852%2c78.242C322.93%2c171.55%2c348.198%2c288.811%2c404.965%2c381.608C459.022%2c469.976%2c551.116%2c533.039%2c654.631%2c529.059' fill='rgba(166%2c 223%2c 101%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1193.1587076914009 254.6636401115615L1011.940512381602 381.55398652824215 1138.8308587982826 562.772181838041 1320.0490541080815 435.88183542136034z' fill='rgba(166%2c 223%2c 101%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1602.8972305862333 776.5659296140014L1804.2344937027779 1016.5103362562289 2044.1789003450053 815.1730731396844 1842.8416372284607 575.228666497457z' fill='rgba(166%2c 223%2c 101%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1151.0788489256468 601.7438780995612L1356.7832998177055 702.0726424126642 1457.1120641308084 496.36819152060536 1251.4076132387497 396.03942720750246z' fill='rgba(166%2c 223%2c 101%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1462.6948607182414 359.3996762463226L1257.5415996203055 550.7081871904865 1448.8501105644696 755.8614482884223 1654.0033716624052 564.5529373442585z' fill='rgba(166%2c 223%2c 101%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1760.514%2c957.575C1833.275%2c956.005%2c1883.431%2c895.729%2c1922.904%2c834.586C1967.602%2c765.35%2c2024.785%2c683.414%2c1983.588%2c612.039C1942.387%2c540.658%2c1842.912%2c551.445%2c1760.514%2c553.244C1682.732%2c554.942%2c1594.031%2c554.896%2c1553.694%2c621.423C1512.438%2c689.466%2c1543.817%2c774.093%2c1585.515%2c841.866C1624.791%2c905.703%2c1685.579%2c959.192%2c1760.514%2c957.575' fill='rgba(166%2c 223%2c 101%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M141.22295705676987 894.6008230815565L302.8808679924931 815.7549917187267 224.03503662966324 654.0970807830035 62.377125693940044 732.9429121458334z' fill='rgba(166%2c 223%2c 101%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");*/
  background-attachment: fixed;
  background-size: cover;
}

/*.confetti {*/
/*  position: fixed;*/
/*  width: 10px;*/
/*  height: 10px;*/
/*  background-color: #f00;*/
/*  border-radius: 50%;*/
/*  z-index: 9999;*/
/*}*/

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes confettiAnimation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(200vw, 200vh, 0);
  }
}

.confetti {
  position: fixed;
  animation: confettiAnimation 4s linear infinite;
  border-radius: 50%;
}
.container-canvas {
  width: 100%;
  height: 100%;
}

#confetti-canvas {
  /*position: fixed;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*width: 100%;*/
  /*height: 100%;*/
  position: absolute;
  display: none;
}

.game {
  display: none;
  /*animation: fadeOut 5s forwards;*/
}

.size-settings {
  display: flex;
  justify-content: center;
  width: 100%;
  /*padding-bottom: 20px;*/
}

.lives-settings {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*padding-bottom: 20px;*/
}

.lives-form {
  justify-content: center;
  align-items: center;

}

.change-text {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  color: #125634;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

.lives-text {
  font-size: 20px;
  color: #125634;
  font-weight: bold;
}

.confirmation-text {
  display: flex;
  font-size: 30px;
  color: #548d50;
  font-weight: bold;
  text-align: center;
  width: 80%;
  line-height: 1;
}

.start-button {
  display: flex;
  margin-top: 15px;
  /*background-color: #a0c293;*/
  background-color: rgba(150, 224, 114, 1);
  border: 4px solid #548c2f;
  /*border: 4px solid #548d50;*/
  color: #125634;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
}

#start-button:hover {
  border: 4px solid #125634;
  /*background-color: #548d50;*/
  background-color: #548c2f;
  color: #eff4ec;
  font-weight: bold;
}

.change-button {
  display: flex;
  margin-top: 10px;
  background-color: #ffcccc;
  border: 4px solid #c88b81;
  color: #924946;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
}

#change-button:hover {
  border: 4px solid #924946;
  background-color: #c8676e;
  color: #ffdddd;
  font-weight: bold;
}

.start-button > p {
  margin: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

.change-button > p {
  margin: 15px;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

.game-over {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  height: 40%;
  width: 40%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Убедитесь, что значение z-index достаточно высокое */
  /*background-color: #e2ebddaa; !* Прозрачный фон *!*/
  background-color: rgba(83, 117, 67, 0.8); /* Прозрачный фон */
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.finish {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  height: 40%;
  width: 40%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Убедитесь, что значение z-index достаточно высокое */
  /*background-color: #e2ebddaa; !* Прозрачный фон *!*/
  background-color: #7cb518cc; /* Прозрачный фон */
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.fade-in {
  animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.game-over-text {
  /*display: flex;*/
  font-size: 30px;
  color: #dad7cd;
  font-weight: bold;
  text-align: center;
  width: 80%;
  line-height: 1;
}

.retry-button {
  display: flex;
  margin-top: 15px;
  background-color: #a3b18a;
  border: 4px solid #718355;
  color: #333d29;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
}

.retry-button:hover {
  background-color: rgba(150, 224, 114, 1);
  border: 4px solid #548c2f;
  color: #125634;
  font-weight: bold;
}

.retry-button > p {
  margin: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

.finish-text {
  /*display: flex;*/
  font-size: 30px;
  color: #dad7cd;
  font-weight: bold;
  text-align: center;
  width: 80%;
  line-height: 1;
}

.starting-text {
  /*display: flex;*/
  font-size: 30px;
  color: #125634;
  font-weight: bold;
  text-align: center;
  width: 80%;
  line-height: 1;
}

.finish-button {
  display: flex;
  margin-top: 15px;
  background-color: rgba(150, 224, 114, 1);
  border: 4px solid #548c2f;
  color: #125634;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
}

.finish-button:hover {
  border: 4px solid rgba(150, 224, 114, 1);
  background-color: #125634;
  color: #dad7cd;
  font-weight: bold;
}

.finish-button > p {
  margin: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

#settings-text {
  display: none;
  justify-content: center;
  width: 70%;
  margin-bottom: 10px;
}

.start {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  height: 40%;
  width: 40%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Убедитесь, что значение z-index достаточно высокое */
  /*background-color: #e2ebddaa; !* Прозрачный фон *!*/
  background-color: #e8fccfbb; /* Прозрачный фон */
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.settings {
  display: none;
  position: absolute;
  height: 30%;
  width: 30%;
  padding-top: 60px;
  padding-bottom: 50px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Убедитесь, что значение z-index достаточно высокое */
  /*display: flex;*/
  flex-wrap: wrap;
  /*background-color: #a0c293aa; !* Прозрачный фон *!*/
  background-color: rgba(150, 224, 114, 0.5);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.start-page {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  height: 50%;
  width: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Убедитесь, что значение z-index достаточно высокое */
  /*background-color: #e2ebddaa; !* Прозрачный фон *!*/
  background-color: #e8fccf; /* Прозрачный фон */
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#canvas {
  background-image: url("/static/src/images/main-bg.jpg");
  background-size: cover;
  background-position-y: 39%;
  /*border: 1px solid black;*/
  width: 90%;
  height: 90%;
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
}

.popup-window {
  position: absolute;
  height: 50%;
  width: 50%;
  padding: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Убедитесь, что значение z-index достаточно высокое */
  display: none;
  background-color: rgba(190, 255, 190, 0.9); /* Прозрачный фон */
  border-radius: 15px;
}

.float-container {
    /*border: 3px solid #fff;*/
    padding: 20px;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}

.float-child-1 {
  width: 65%;
  float: left;
  padding: 20px;
  /*margin-top: 10%;*/
  /*border: 2px solid red;*/
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}

.float-child-2 {
  width: 35%;
  float: left;
  padding: 20px;
  /*margin-top: 10%;*/
  /*border: 2px solid red;*/
  display: flex;
  flex-direction: column; /* Используем столбчатую ориентацию для формы и кнопки */
  align-items: center;
  justify-content: center;
}

.form-input {
  /*margin-bottom: 10px;*/
  /*padding: 5px;*/
  width: 100%;
  border: 2px solid #7ac216;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  /*color: #125634;*/
}

.form-input:focus {
  border: 2px solid #125634;
}

.form-divider {
  border: none;
  border-top: 2px solid #125634;
  margin: 10px 0;
}

#submit-button {
  margin-top: 20px; /* Добавляем отступ между формой и кнопкой */
  /*padding-top: 12px;*/
}

.caption-text {
  margin-top: 2%;
  text-align: center;
  font-size: 40px;
  color: #125634;
}

.countdown {
  /*margin-top: 2%;*/
  margin-bottom: 10%;
  text-align: center;
  font-size: 30px;
  color: #b61f45;
}

#popup-window-text {
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
  color: #125634;
}

.button {
  display: block;
  /*margin: 20px auto 20px;*/
  line-height: normal;
}

#submit-button {
  background-color: #125634;
  position: relative;
  /*margin-bottom: 10%;*/
  /*margin-right: 50%;*/
  /*margin-left: 50%;*/
  color: #fff; /* Белый цвет текста */
  /*padding: 10px 20px;*/
  border: none;
  border-radius: 5px;
}

.image-container {
  display: flex; /* Устанавливаем flex-контейнер */
  margin-top: 10px;
  /*!*text-align: center;*!*/
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 30px; /* Ширина картинок */
  height: 30px; /* Высота картинок */
  margin-right: 3px; /* Отступ между картинками */
}
