<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Пни</title>-->
<!--    <link rel="stylesheet" href="/static/style1.css">-->
<!--    <style>-->
<!--    body {-->
<!--      background-image: url('/static/src/images/main-bg-blur.png');-->
<!--      background-repeat: no-repeat;-->
<!--      background-size: cover;-->
<!--    }-->
<!--  </style>-->
<!--  </head>-->
<!--  <body>-->
<!--    <div class="finish"style="display: flex">-->
<!--          <p class="finish-text" id="finish-text">Добро пожаловать!<br>Готовы начать?</p>-->
<!--        <div id="finish-button" class="finish-button">-->
<!--          <p id="finish-button-text" class="finish-button-text">Начать</p>-->
<!--        </div>-->
<!--    </div>-->
<!--  </body>-->
<!--</html>-->
