<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Пни</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/style1.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML" async></script>

  </head>
  <body>
    <canvas id="canvas"></canvas>
    <div id="popup-window" class="popup-window">
      <p id="popup-window-text" class="text"></p>
<!--      <p id="popup-window-text" class="text">Хуй настенный</p>-->
      <button id="close-button" class="btn btn-primary">Закрыть</button>
    </div>

    <script src="/static/script1.js"></script>
<!--    <script src="{{ url_for('static', filename='script1.js') }}"></script>-->
  </body>
</html>
